html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  width: 600px;
  height: 600px;
  border: 5px solid black;
  margin: 50px auto;
  box-sizing: border-box;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  grid-template-areas:
    "header header"
    "aside main"
    "nav main"
    "footer footer";
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1.3fr 0.8fr;
}

header {
  background-color: lightblue;
  grid-area: header;
}

aside {
  background-color: rgb(255, 148, 49);
  grid-area: aside;
}

nav {
  background-color: rgb(197, 78, 197);
  grid-area: nav;
}

main {
  background-color: rgb(30, 224, 150);
  grid-area: main;
}

footer {
  background-color: rgb(87, 44, 44);
  grid-area: footer;
}

header,
aside,
nav,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
